{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile/profile/style.css') }}">
<title>{{ profile.login }}</title>
{% endblock %}
{% block content %}
<div class="profile">
    <img class="profile__avatar" src="{{ profile.get_avatar() }}">
    <div class="profile__info">
        <span class="name">{{ profile.login }}</span>
    </div>
    {% if user.is_authenticated %}
        {% if profile.id == user.id %}
            <div class="profile__options">
                {% if user.team_id == None %}
                    <a class="add_team" href="{{ url_for("team.add_team") }}">
                        <svg class="add_team__icon" width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 12H20M12 4V20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                {% else %}
                    <a class="add_team" href="{{ url_for("team.get_team", team_id=user.team_id) }}">
                        <img class="add_team__icon" src="{{ url_for('static', filename="profile/profile/images/team.svg") }}">
                    </a>
                {% endif %}
                <a class="profile__settings settings_button" href="{{ url_for('profile.edit_profile') }}">
                    <span class="settings_button__text" >Настройки</span>
                    <img class="settings_button__icon" src="{{ url_for('static', filename='profile/profile/images/settings.svg') }}">
                </a>
            </div>
        {% elif user.is_team_leader() and profile.team_id == None %}
            <div class="profile__options">
                <a class="profile__settings settings_button" href="{{ url_for("team.add_member", member_id=profile.id) }}">Добавить в команду</a>
            </div>
        {% elif user.is_team_leader() and profile.team_id == user.team_id %}
            <div class="profile__options">
                <a class="profile__settings settings_button" href="{{ url_for("team.remove_member", member_id=profile.id) }}">Выгнать из команды</a>
            </div>
        {% endif %}
    {% endif %}
</div>
<div class="saved-titles">
    <h2 class="saved-titles__header">Сохраненные тайтлы</h2>
    <div class="saved_titles__titles">
        {% for title in user.saves %}
            <a href="{{ url_for("manga.manga_page", title_id=title.id) }}">
                <div class="saved-title">
                    <img class="saved-title__poster" src="{{ title.get_poster() }}">
                    <span class="saved-title__name">{{ title.name_russian }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}