{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='manga_card/manga_card/style.css') }}">
<link rel="stylesheet" href="{{ url_for('manga.static', filename='manga_page/styles/sections.css') }}">
<link rel="stylesheet" href="{{ url_for('manga.static', filename='manga_page/styles/comments.css') }}">
<link rel="stylesheet" href="{{ url_for('manga.static', filename='manga_page/styles/description.css') }}">
<link rel="stylesheet" href="{{ url_for('manga.static', filename='manga_page/styles/chapters.css') }}">
<script>
    let auth = {{ 'true' if user.is_authenticated else 'false' }};
    let title_id = {{ title.id }};
    {% if user.is_authenticated %}
    let user_id = {{ user.id }};
    {% endif %}
    let commentsCount = {{ title.get_comments_count() }};
</script>
<title>{{ title.name_russian }}</title>
{% endblock %}
{% block content %}
<div id="left-side">
    <div id="poster">
        <img id="poster__image" src="{{ title.get_poster() }}">
    </div>
    {% if user.is_authenticated and (user.role > 1 or title.author_id == user.id) %}
        <a class="edit-button" href="{{ url_for("manga.edit_manga", title_id=title.id) }}">
            Редактировать
        </a>
    {% endif %}
    {% include "description.html" %}
    <ul id="similar">
        <h3>Похожее</h3>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/simiar_manga-poster1.jpg') }}">
            <p class="similar-title__description">
                Я - дитя этого дома<br>
                2018<br>
                Манхва
            </p>
        </li>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster2.jpg') }}">
            <p class="similar-title__description">
                Я стала женой принца-монстра<br>
                2021<br>
                Манхва
            </p>
        </li>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster3.jpg') }}">
            <p class="similar-title__description">
                На самом деле я была настоящей<br>
                2020
                Манхва
            </p>
        </li>
    </ul>
</div>
<div id="right-side">
    <div id="manga-info">
        <div id="manga-info__header">
            <div id="manga-names">
                <span class="manga-names__languages">
                    {% if title.name_english and title.name_languages %}
                        {{ " / ".join([title.name_english, title.name_languages]) }}
                    {% elif title.name_english %}
                        {{ title.name_english }}
                    {% elif title.name_languages %}
                        {{ title.name_languages }}
                    {% endif %}
                </span>
                <h1 class="manga-names__russian">{{ title.name_russian }}</h1>
            </div>
            <div id="read-button">Читать</div>
        </div>
        <div id="manga-info__description">
            <ul id="stats">
                <li class="stats-option rating">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/rating.svg') }}">
                        <span class="stats-option__text">{{ rating }}</span>
                        {% if user_rating %}
                            {% if user_rating < 4 %}
                                <span class="user-rating user-rating_bad" data-stars="{{ user_rating }}">
                            {% elif user_rating < 7 %}
                                <span class="user-rating user-rating_normal" data-stars="{{ user_rating }}">
                            {% elif user_rating < 10 %}
                                <span class="user-rating user-rating_good" data-stars="{{ user_rating }}">
                            {% elif user_rating == 10 %}
                                <span class="user-rating user-rating_excellent" data-stars="{{ user_rating }}">
                            {% endif %}
                                    <span class="user-rating__number">{{ user_rating }}</span>
                                </span>
                        {% endif %}
                    </div>
                    <div class="stats-option__caption">
                        (голосов: <span class="stats-option__votes">{{ rating_count }}</span>)
                    </div>
                </li>
                <li class="stats-option saved">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/saved.svg') }}">
                        <span class="stats-option__text">{{ title.get_saves_count() }}</span>
                    </div>
                    {% if saved %}
                        <div class="stats-option__caption">(сохранено)</div>
                    {% endif %}
                </li>
                <li class="stats-option views">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/views.svg') }}">
                        <span class="stats-option__text">{{ title.views }}</span>
                    </div>
                </li>
            </ul>
            <article id="about">{{ title.description }}</article>
            <ul id="genres-list">
                {% for genre in title.genres %}
                    <li class="genres-list__item">
                        <a class="genres-list__link" href="../../catalog?genres={{ genre.id }}">{{ genre.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sections">
        <div class="sections__buttons sections-buttons">
            <div class="sections-buttons__item sections-buttons__item_active" id="chapters-button">Главы</div>
            <div class="sections-buttons__item" id="comments-button">Комментарии</div>
        </div>
        <section class="sections__content">
            <div id="chapters" class="section section_selected">
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block json_data %}
    {
    "title": {{ title_json | safe }},
    "user": {{ user_json | safe }}
    }
{% endblock %}
{% block footer %}
    <script src="{{ url_for('static', filename='Component.js') }}"></script>
    <script src="{{ url_for('manga.static', filename='manga_page/chapters.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/comment.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/sections.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/rating.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/saves.js') }}"></script>
{% endblock %}