<ul id="similar">
    <h3 class="similar__header">Похожее</h3>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('manga.static', filename='manga_page/images/1.jpg') }}">
        <div class="similar-title__description">
            <div class="similar-title__name">Я - дитя этого дома</div>
            <div class="similar-title__info">
                <div class="similar-title__type">манхва</div>
                <div class="similar-title__year">2018</div>
            </div>
        </div>
    </li>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('manga.static', filename='manga_page/images/2.jpg') }}">
        <div class="similar-title__description">
            <div class="similar-title__name">Я стала женой принца-монстра</div>
            <div class="similar-title__info">
                <div class="similar-title__type">манхва</div>
                <div class="similar-title__year">2021</div>
            </div>
        </div>
    </li>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('manga.static', filename='manga_page/images/3.jpg') }}">
        <div class="similar-title__description">
            <div class="similar-title__name">На самом деле я была настоящей</div>
            <div class="similar-title__info">
                <div class="similar-title__type">манхва</div>
                <div class="similar-title__year">2020</div>
            </div>
        </div>
    </li>
</ul>