<ul id="similar">
    <h3>Похожее</h3>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/simiar_manga-poster1.jpg') }}">
        <p class="similar-title__description">
            Я - дитя этого дома<br>
            2018<br>
            Манхва
        </p>
    </li>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster2.jpg') }}">
        <p class="similar-title__description">
            Я стала женой принца-монстра<br>
            2021<br>
            Манхва
        </p>
    </li>
    <li class="similar-title">
        <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster3.jpg') }}">
        <p class="similar-title__description">
            На самом деле я была настоящей<br>
            2020
            Манхва
        </p>
    </li>
</ul>