{% extends "auth/base.html" %}
{% block form %}
<h1>Восстановление</h1>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
        <div class="flash_error">{{message}}</div>
    {% endif %}
{% endfor %}
<div class="input-box">
    <input type="email" name="email" placeholder="E-mail">
    <img class="input-box__images" src="/app/static/login_form/images/email.svg">
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "info" %}
        <div class="flash_information">{{message}}</div>
    {% endif %}
{% endfor %}
<button type="submit" class="btn">Отправить письмо</button>
{% endblock %}