.comments__form {
    display: block;
}

.posts__no-posts {
    font-size: 28px;
    padding: 64px 0;
    text-align: center;
}

.posts__list {
    margin-top: 30px;
}

.post {
    padding: 20px 30px;
    border-radius: 12px;
    background-color: var(--body-background);

    max-width: 800px;
    width: 100%;
    border: 1px solid #D9D9D9;
}

.post + .post {
    margin-top: 20px;
}

.post__inner {
    position: relative;
}

.post__author {
    display: flex;
    flex-direction: row;
}

.post__author-avatar {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.post__author-info {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
}

.port__author-name {
    text-align: start;
}

.post__text {
    margin-top: 9px;
    word-break: break-word;
}

.post__options-button {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0;
}

.post__options-list {
    display: flex;
    flex-direction: column;
}

.post__option {
    cursor: pointer;
}

.post__option_delete {
    color: #FF0000;
}