.saves__no-saves {
    font-size: 28px;
    padding: 64px 0;
    text-align: center;
}

.saves__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.save {
    position: relative;
}

.save__image {
    aspect-ratio: 0.7;
    border-radius: 8px;
    width: 100%;
}

.save__delete-option {
    position: absolute;
    right: 5px;
    top: 4px;

    width: 20px;
    height: 20px;

    padding: 3px;
    background-color: #FFFFFF;
    border-radius: 50%;
}