.chapters__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.chapters-header__icon {
    width: 20px;
    height: 20px;
}

.chapters-header__buttons {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.chapter__icon {
    width: 15px;
    height: 15px;
}

.chapter-icon__link + .chapter-icon__link {
    margin-left: 10px;
}

.chapter__content {
    display: flex;
    justify-content: space-between;
}

.add-chapter {
    width: 25px;
    height: 25px;
}

.chapters__item {
    padding: 12px 14px;
    background-color: var(--section-background);;
    border-radius: 12px;
}

.chapters__list {
    margin-top: 8px;
}

.chapters__item + .chapters__item {
    margin-top: 5px;
}

.translators-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    flex-wrap: wrap;
}

.translator {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 6px 10px;
    border-radius: 6px;

}

.translator_selected {
    background-color: var(--inputs-option-selected-background);
    color: var(--inputs-option-selected-text-color);
}

.translator__image {
    max-height: 45px;
    aspect-ratio: 3/4;
    border-radius: 4px;
}

.translator__description {
    margin-left: 10px;
}
