{% extends "base.html" %}
{% block header %}
    <link rel="stylesheet" href="{{ url_for("static", filename="modules/inputs/inputs.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="inputs.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="chapters/add_chapters/style.css") }}">
{% endblock %}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {{ form.csrf_token() }}
        {% if mode == "edit" %}
            <h1 class="form__header">Редактирование главы</h1>
        {% else %}
            <h1 class="form__header">Добавление главы</h1>
        {% endif %}
        <div class="form__section form__three">
            <div class="form-input">
                Том
                {{ form.tome(class_="form-input__input") }}
            </div>
            <div class="form-input">
                Глава
                {{ form.chapter(class_="form-input__input") }}
            </div>
            <div class="form-input">
                Название
                {{ form.name(class_="form-input__input") }}
            </div>
        </div>
        <div class="pages">
            Страницы
            <div class="inputs-input pages__container">
                {% if chapter %}
                    <div class="pages__pages">
                        {% for i in range(chapter.pages_count) %}
                            <div class="pages__page">
                                <img class="page__image" src="{{ url_for('static', filename="media/chapters/{}/{}.jpeg".format(chapter.id, i+1)) }}">
                                <img src="{{ url_for('static', filename="chapters/add_chapters/images/close.svg") }}" class="page__delete">
                                <span>{{ i }}.jpeg</span>
                            </div>
                        {% endfor %}
                        <div class="pages__add"></div>
                    </div>
                {% else %}
                    <div class="upload-zone">
                        <p class="pages__text">Выберите .ZIP архивы или обычные изображения</p>
                    </div>
                {% endif %}
                {{ form.file(hidden=True, multiple="multiple") }}
            </div>
        </div>
        {{ form.save(class_="form-submit") }}
    </form>
{% endblock %}
{% block footer %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.js" integrity="sha512-3FKAKNDHbfUwAgW45wNAvfgJDDdNoTi5PZWU7ak3Xm0X8u0LbDBWZEyPklRebTZ8r+p0M2KIJWDYZQjDPyYQEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for("static", filename="modules/inputs/inputs.js") }}"></script>
    <script src="{{ url_for("static", filename="chapters/add_chapters/form.js") }}"></script>
    <script src="{{ url_for("static", filename="chapters/add_chapters/drag-n-drop.js") }}"></script>
{% endblock %}

