.select-wrapper {
    display: flex;
    flex-direction: column;
}

.select-wrapper__options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}

.select-wrapper__options-wrapper {
    position: relative;
}

.select-wrapper__options_closed {
    display: none;
}

.inputs-input {
    overflow: hidden;
}

.inputs-input__input {
    border: none;
    outline: none;
}