.main__inner {
    position: relative;
}

.page-num {
    padding: 4px 6px;
    border-radius: 8px;
    background-color: #D9D9D9;
    color: #000000;
    position: absolute;
    right: 10px;
    bottom: 10px;
}