.chapter {
    font-size: 18px;
    margin: auto 0;
    padding: 10px 0;
}

main {
    margin-top: 0;
}

.page {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
}

@media (max-width: 700px) {
    main > .content__inner {
        padding: 0;
    }

    page__image {
        width: 100%;
    }
}
