* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.profile {
    display: flex;
    flex-direction: row;
    position: relative;
}

.profile__avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile__info {
    margin-left: 30px;
}

.name {
    font-size: 32px;
}

.sections {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}

.sections__button {
    font-size: 18px;
    width: 200px;
    height: 45px;
    text-align: center;
    background-color: #FFD600;
    border: none;
}

.sections__button + .sections__button {
    margin-left: 15px;
}

.profile__options {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.profile__settings {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 7px;
    border:none;
    background: #f0f0f0;
}

.settings_button__icon {
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.profile__options > a {
    background-color: var(--button3-background);
}

.add_team {
    padding: 5px 7px;
    background-color: #f0f0f0;
}

.add_team__icon {
    width: 20px;
    height: 20px;
}

.saved-titles {
    margin-top: 50px;
}

.saved-titles__header {
    font-size: 24px;
}

.saved_titles__titles {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 15px;
}

.saved-title {
    max-width: 100%;
}

.saved-title__poster {
    width: 100%;
    border-radius: 12px;
    aspect-ratio: 2/3;
}

@media (max-width: 700px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile__avatar {
        width: 50%;
        height: 50%;
    }

    .profile__options {
        position: relative;
        margin-top: 15px;
    }

    .profile__info {
        margin: 20px 0 0;
    }

    .saved_titles__titles {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-column-gap: 10px;
    }
}