.inputs-input, .select-wrapper__selected-option, textarea {
    border: 2px solid #B9B9B9;
    border-radius: 14px;
    width: 100%;
    padding: 10px 16px 12px;
    margin-top: 4px;
}

.inputs-input__input {
    width: 100%;
    background-color: var(--body-background);
}

.form_textarea {
    background-color: var(--body-background);
}

input {
    color: var(--text-color);
}

.select-wrapper__option {
    padding: 10px 20px;
    background-color: var(--inputs-option-background);
    color: var(--inputs-option-text-color);
}

.select-wrapper__option_selected, .select-wrapper__option:hover {
    background-color: var(--inputs-option-selected-background);
    color: var(--inputs-option-selected-text-color);
}