* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    scrollbar-gutter: stable;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: var(--body-background);
    color: var(--text-color);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 8px;
    border: 0px solid var(--body-background);
}

main {
    margin-top: 55px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
}

a:visited {
    text-decoration: none;
}

input, textarea {
    background-color: var(--inputs-option-background);
    color: var(--text-color);
}

textarea:focus {
    outline: none;
}

button, input[type="submit"] {
    border: none;
    background-color: #FFD600;
    color: #000000;
}