* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: var(--body-background);
    color: var(--text-color);
}

main {
    margin-top: 55px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
}

a:visited {
    text-decoration: none;
}

input, textarea {
    background-color: var(--body-background);
    color: var(--text-color);
}

button, input[type="submit"] {
    border: none;
    background-color: #FFD600;
    color: #000000;
}