* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

h1, .manga-names__russian {
    font-size: 28px;
    font-weight: normal;
    margin: 0;
}

h2, .manga-names__languages {
    font-size: 18px;
    font-weight: normal;
}

h3 {
    font-size: 16px;
    font-weight: normal;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

.main__inner {
    display: flex;
    flex-direction: row;
}

#left-side {
    max-width: 250px;
    min-width: 220px;
}

#poster {
    width: 100%;
}

#poster__image {
    width: 100%;
    aspect-ratio: 2/3;
    border-radius: 14px;
}

#similar {
    margin-top: 10px;
}

.similar-title {
    display: flex;
    flex-direction: row;
}

.similar-title + .similar-title {
    margin-top: 7px;
}

.similar-title__poster {
    width: 64px;
    height: 90px;
}

.similar-title__description {
    margin-left: 8px;
}

#right-side {
    width: 100%;
    margin-left: 25px;
    max-width: 870px;
    min-width: 400px;
    position: relative;
}

#manga-info__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#manga-names {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    border: none;
    overflow: hidden;
    resize: none;
}

textarea:focus {
    outline:none;
}

#read-button {
    height: 60px;
    width: 228px;
    background-color: #FFD600;
    color: #000000;
    font-size: 20px;
    border-radius: 12px;
    margin: 0 0 20px 40px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button {
    margin-top: 5px;
    height: 40px;
    width: 100%;
    background-color: var(--button2-background);
    font-size: 16px;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#stats {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.stats-option {
    display: flex;
    flex-direction: row;
}

.stats-option__header {
    font-size: 18px;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.stats-option__caption {
    margin: auto;
}

.stats-option + .stats-option {
    margin-left: 30px;
}

.stats-option__icon {
    max-width: 24px;
    max-height: 24px;
}

.stats-option__text {
    margin: auto 0 auto 5px;
    white-space: nowrap;
}

#about {
    margin-top: 20px;
    line-height: 1.4;
    width: 100%;
}

#genres-list {
    margin-top: 20px;
    display: flex;
}

.genres-list__item {
    padding: 1px 8px 2px;
    background-color: var(--inputs-option-selected-background);
    border-radius: 8px;
}

.genres-list__link {
    color: var(--inputs-option-selected-text-color);
}

.genres-list__item + .genres-list__item {
    margin-left: 5px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content {
    background-color: var(--dropdown-background);
    border-radius: 12px;
}

.modal__inner {
    font-size: 16px;
    padding: 20px 30px;
}

.rating-option + .rating-option {
    margin-top: 10px;
}

.rating-option__image {
    vertical-align: middle;
}

.rating-option__number {
    margin-left: 5px;
}

.rating-option__description {
    margin-left: 10px;
}

.user-rating {
    margin: auto 0;

    color: white;
    border-radius: 10px;
    padding: 0.5px 6px 1px 6px;
    font-size: 16px;
    margin-left: 2px;
}

.user-rating_bad{
    background: #FF0000;
}

.user-rating_normal{
    background: #FFCC00;
}

.user-rating_good{
    background: #33CC66;
}

.user-rating_excellent{
    background: #339900;
}

@media (max-width: 700px){
    #right-side {
        display: none;
    }

    #left-side {
        min-width: auto;
        max-width: none;
        width: 100%;
        justify-content: center;
    }

    #poster {
        display: flex;
        justify-content: center;
    }

    #poster__image {
        width: 70%;
    }

    .manga-names__russian {
        text-align: center;
        margin-top: 20px;
    }

    .manga-names__languages {
        text-align: center;
        margin-top: 10px;
    }

    #stats {
        justify-content: space-around;
        align-items: center;
    }

    .stats-option {
        flex-direction: column;
        width: 100px;
    }
}