.hidden {
    display: none;
}

/* Comment form */

.comments__form {
    margin-top: 5px;
    display: none;
    border-radius: 12px;
    border: 1px solid #CFCECE;
    padding: 12px 14px 45px 14px;
    position: relative;
    width: 100%;
}

.comments__title-comments > .comments__form,
.comments__form_visible {
    display: block;
}

.comments__input {
    border:none;
    resize:none;
    overflow: hidden;
    display:block;
    width: 100%;
}

.comments__send {
    padding: 6px 12px;
    border-radius: 6px;

    font-size: 14px;
    position:absolute;
    right: 14px;
    bottom: 8px;
}

.comments__send:hover {
    cursor: pointer;
}

.comments__input:focus {
    outline: none;
}

.comments__not-auth-text {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.comments__not-auth-login {
    padding: 5px 10px;
    border: 0;
    border-radius: 6px;
    background-color: #FFD600;
}

.comments__not-auth-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}


/* Comment body */

.comments__list {
    margin-top: 14px;
}

.comments__user {
    display: flex;
    flex-direction: row;
}

.comments__user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.comments__user-info {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
}

.comments__user-name {
    text-align: start;
}

.comments__text {
    margin-top: 9px;
}


/* Comment Panel */

.comments__panel {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}

.comments__reactions {
    display: flex;
    flex-direction: row;
}

.comments__rating {
    display: flex;
    flex-direction: row;
}

.comments__show-answers {
    display: flex;
    align-items: center;
}

.comments__rating-button {
    width: 23px;
    height: 23px;
    display: flex;
}

.comments__rating-button_active {
    color: var(--icon-selected);
    background-color: #D9D9D9;
    border-radius: 50%;
}

.comments__rating-image {
    margin: auto;
}

.comments__rating-up-image {
    width: 20px;
    height: 20px;
}

.comments__rating-down-image {
    width: 20px;
    height: 20px;
}

.comments__rating-text {
    margin: auto 0 auto 7px;
}
.comments__rating-down {
    margin-left: 6px;
}

.comments__comment + .comments__comment {
    margin-top: 12px;
}

/* Comment answers */

.comments__answers {
    display: none;
    margin-top: 10px;
    margin-left: 20px;
}

.comments__title-comments > .comments__answers,
.comments__answers_visible {
    display: flex;
    flex-direction: row;
}

.comments__title-comments > .comments__answers {
    margin-left: 0;
}

.comments__answers-list {
    padding-top: 10px;
    padding-bottom: 17px;
    width: 100%;
}

.comments__show-answers {
    margin: auto 0 auto 30px;
}

.comments__show-answers-image {
    margin-left: 2px;
}

.comments__no-comments, .no-chapters {
    text-align: center;
    margin-top: 60px;
}

.comments__no-comments-header, .no-chapters__header {
    font-size: 24px;
}

.comments__no-comments-text, .no-chapters__text {
    font-size: 16px;
}

.no-chapters__add-link {
    display: inline-block;
}

.no-chapters__add-button {
    margin-top: 15px;
    font-size: 20px;
    border-radius: 18px;
    padding: 15px 50px;
    background-color: #D9D9D9;
}