.rating__button {
    align-self: end;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    background-color: var(--dropdown-background);
    border-radius: 6px;
    height: 30px;

    cursor: pointer;
}

.rating__text {
    display: flex;
    align-items: center;
    column-gap: 5px;
    white-space: nowrap;
}

.rating__button-icon {
    width: 20px;
    height: 20px;
}

.rating__option {
    display: flex;
    flex-direction: row;

    cursor: pointer;
}

.rating__option + .rating__option {
    margin-top: 10px;
}

.rating__option-image {
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.rating__option-number {
    margin-left: 5px;
}

.rating__option-description {
    margin-left: 10px;
}

.user-rating {
    margin: auto 0;

    color: white;
    border-radius: 10px;
    padding: 0.2px 6px 0.3px 6px;
    font-size: 16px;
    margin-left: 5px;
}

.user-rating_bad{
    background: #FF0000;
}

.user-rating_normal{
    background: #FFCC00;
}

.user-rating_good{
    background: #33CC66;
}

.user-rating_excellent{
    background: #339900;
}

@media (max-width: 872px) {
    .rating__button {
        position: absolute;
        bottom: 8px;
        left: 50%;
        transform: translateX(-50%);
    }
}