.form-input {
    font-size: 18px;
}

.form-input__input {
    font-size: 16px;
}

.form__three {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-column-gap: 15px;
}

.form__header {
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
}

.pages {
    margin-top: 30px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.clean_button {
    align-self: end;
}

.pages__pages {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 7px;
}

.pages__page, .pages__add {
    width: 154px;
    overflow: hidden;
}

.pages__page {
    position: relative;
}

.dragging {
    cursor: move;
}

.page__delete {
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    right: 5px;
    top: 5px;
}

.pages__add, .pages__buffer {
    width: 154px;
    border: 2px #B9B9B9 dashed;
    font-size: 14px;
    vertical-align: center;
    aspect-ratio: 3/4;
    border-radius: 8px;
}

.dragging {
    cursor: pointer;
}

.page__image {
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    border-radius: 8px;
}

.pages__text {
    margin: auto;
    font-size: 20px;
}

.form-submit{
    font-size: 16px;
    background-color: #FFD600;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-top: 15px;
}

.upload-zone {
    min-height: 200px;
    display: flex;
}

@media (max-width: 700px) {
    .form__three {
        display: flex;
        flex-direction: column;
    }

    .form-input + .form-input {
        margin-top: 15px;
    }
}