* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.empty-icon {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
}

.content__inner {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    background-color: #FFD600;
}

.header__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 9px 0;
}

#logo {
    width: 64px;
    height: 64px;
    background-color: #D9D9D9;
}

.empty-icon {
    width: 40px;
    height: 40px;
    background-color: #D9D9D9;
}

nav {
    display: flex;
    flex-direction: row;

    margin: auto 0;
}

.nav__item + .nav__item {
    margin-left: 20px;
}

main {
    margin-top: 55px;
}

.main__inner {
    display: flex;
    flex-direction: row;
}

.filters {
    margin-left: 28px;
    min-width: 240px;
}

.catalog__grid {
    display: grid;
    row-gap: 15px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.title {
    /* background-color: #D9D9D9;
    border-radius: 12px;
    padding: 8px; */
    
    display: flex;
    flex-direction: column;
    font-size: 14px;

    max-width: 200px;
    min-width: 150px;
}

.title__poster {
    border-radius: 7px;
    width: 100%;

}
.title__name {
    max-width: 185px;
}

.catalog__header {
    font-weight: 200;
    font-size: 50px;
    line-height: 50px;
}

.sortings__text {
    font-size: 20px;
}

.catalog {
    width: 100%;
}

.catalog__inner {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.catalog__titles {
    width: 100%;
}

.filters__title {
    font-size: 20px;
    font-weight: 400;
}

.filters__clean {
    font-size: 16px;
    font-weight: 400;
    margin-top: auto;

    display: flex;
    align-items: center;
}

.filters__icon {
    margin-left: -5px;
    margin-top: 3px;
}

.filters__headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog__sortings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sortings__right {
    margin-top: auto;
}

.sortings__icon {
    width: 20px;
}

.title__data {
    font-size: 12px;
    margin-top: 5px;

}

.title__name {
    font-size: 14px;
}

.filters__headers {
    margin-bottom: 24px;
}

.filter__input {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 12px 18px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px;
}

.filter__header {
    font-size: 18px;
}

.filter__item {
    margin-top: 20px;
}

.filter__block {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.filter__block > .filter__input:nth-child(2) {
    margin-left: 32px;
}