{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='manga_card/manga_card/style.css') }}">
<script>
    let auth = {{ 'true' if user.is_authenticated else 'false' }};
    let title_id = {{ title.id }};
    {% if user.is_authenticated %}
    let user_id = {{ user.id }};
    {% endif %}
    let commentsCount = {{ title.get_comments_count() }};
</script>
<title>{{ title.name_russian }}</title>
{% endblock %}
{% block content %}
<div id="left-side">
    <div id="poster">
        <img id="poster__image" src="{{ title.get_poster() }}">
    </div>
    {% if user.is_authenticated and (user.role > 1 or title.author_id == user.id) %}
        <a class="edit-button" href="{{ url_for("manga.edit_manga", title_id=title.id) }}">
            Редактировать
        </a>
    {% endif %}
    <section id="description">
        Тип: {{ title.type.name }}<br>
        Год: {{ title.year }}<br>
        Статус: {{ title.status.name }}<br>
        Автор: {{ title.author.login }}<br>
        Переводик: {{ title.translator }}<br>
    </section>
    <ul id="similar">
        <h3>Похожее</h3>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/simiar_manga-poster1.jpg') }}">
            <p class="similar-title__description">
                Я - дитя этого дома<br>
                2018<br>
                Манхва
            </p>
        </li>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster2.jpg') }}">
            <p class="similar-title__description">
                Я стала женой принца-монстра<br>
                2021<br>
                Манхва
            </p>
        </li>
        <li class="similar-title">
            <img class="similar-title__poster" src="{{ url_for('static', filename='manga_card/manga_card/images/similar_manga-poster3.jpg') }}">
            <p class="similar-title__description">
                На самом деле я была настоящей<br>
                2020
                Манхва
            </p>
        </li>
    </ul>
</div>
<div id="right-side">
    <div id="manga-info">
        <div id="manga-info__header">
            <div id="manga-names">
                <h1 class="manga-names__russian">{{ title.name_russian }}</h1>
                <h2 class="manga-names__languages">{{ title.name_english }}/ {{ title.name_languages }}</h2>
            </div>
            <div id="read-button">Читать</div>
        </div>
        <div id="manga-info__description">
            <ul id="stats">
                <li class="stats-option rating">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/rating.svg') }}">
                        <span class="stats-option__text">{{ rating }}</span>
                        {% if user_rating %}
                            {% if user_rating < 4 %}
                                <span class="user-rating user-rating_bad" data-stars="{{ user_rating }}">
                            {% elif user_rating < 7 %}
                                <span class="user-rating user-rating_normal" data-stars="{{ user_rating }}">
                            {% elif user_rating < 10 %}
                                <span class="user-rating user-rating_good" data-stars="{{ user_rating }}">
                            {% elif user_rating == 10 %}
                                <span class="user-rating user-rating_excellent" data-stars="{{ user_rating }}">
                            {% endif %}
                                    <span class="user-rating__number">{{ user_rating }}</span>
                                </span>
                        {% endif %}
                    </div>
                    <div class="stats-option__caption">
                        (голосов: <span class="stats-option__votes">{{ rating_count }}</span>)
                    </div>
                </li>
                <li class="stats-option saved">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/saved.svg') }}">
                        <span class="stats-option__text">{{ title.get_saves_count() }}</span>
                    </div>
                    {% if saved %}
                        <div class="stats-option__caption">(сохранено)</div>
                    {% endif %}
                </li>
                <li class="stats-option views">
                    <div class="stats-option__header">
                        <img class="stats-option__icon" src="{{ url_for('static', filename='manga_card/manga_card/images/views.svg') }}">
                        <span class="stats-option__text">{{ title.views }}</span>
                    </div>
                </li>
            </ul>
            <article id="about">{{ title.description }}</article>
            <ul id="genres-list">
                {% for genre in title.genres %}
                    <li class="genres-list__item">
                        <a class="genres-list__link" href="../../catalog?genres={{ genre.id }}">{{ genre.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="sections">
        <div id="section-buttons">
            <div class="section-buttons__item section-buttons__item_active" id="chapters-button">Главы</div>
            <div class="section-buttons__item" id="comments-button">Комментарии</div>
        </div>
        <section id="sections-content">
            <div id="chapters" class="section section_selected">
                {% if title.chapters|length > 0 %}
                    <div class="chapters__header chapters-header">
                        Список глав
                        <div class="chapters-header__buttons">
                            {% if user.team_id %}
                                <a href="{{ url_for("chapters.add_chapter", title_id=title.id) }}">
                                    <img class="add-chapter" src="{{ url_for('static', filename="manga_card/manga_card/images/plus.png") }}">
                                </a>
                            {% endif %}
                            <img id="filter-button" src="{{ url_for('static', filename='manga_card/manga_card/images/filter.svg') }}">
                        </div>
                    </div>
                    <div class="chapters__list">
                        {% for chapter in title.chapters %}
                        <div class="chapters__item chapter" data-id="{{ chapter.id }}">
                            <a class="chapter__link" href="{{ url_for('chapters.get_chapter', chapter_id=chapter.id) }}">
                                <div class="chapter__content">
                                    Том {{ chapter.tome }} Глава {{ chapter.chapter }}
                                    <div class="chapter__icons">
                                        {% if user.team_id %}
                                            <a class="chapter-icon__link chapter__link" href="{{ url_for("chapters.edit_chapter", chapter_id=chapter.id) }}">
                                                <img class="chapter__icon" src="{{ url_for('static', filename="manga_card/manga_card/images/pencil.svg") }}">
                                            </a>
                                            <a class="chapter-icon__link chapter__link" href="{{ url_for("chapters.delete_chapter", chapter_id=chapter.id) }}">
                                                <img class="chapter__icon" src="{{ url_for('static', filename="manga_card/manga_card/images/garbage.svg") }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="no-chapters">
                    <h1 class="no-chapters__header">
                    Глав нет
                    </h1>
                    <p class="no-chapters__text">Автор еще не добавил ни одной главы</p>
                    {% if current_user.team_id %}
                        <a class="no-chapters__add-link" href="{{ url_for("chapters.add_chapter", title_id=title.id) }}">
                            <div class="no-chapters__add-button">Добавить</div>
                        </a>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock %}
{% block json_data %}
{% endblock %}
{% block footer %}
    <script src="{{ url_for('static', filename='manga_card/manga_card/rating.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/saves.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/comment.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/comments.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/chapter.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/chapters.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/scroll_loading.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/sections.js') }}"></script>
    <script src="{{ url_for('static', filename='manga_card/manga_card/adaptive.js') }}"></script>
{% endblock %}