{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='header/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='base/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('chapters.static', filename='chapter_manhwa/style.css') }}">
<link rel="stylesheet" href="{{ url_for('chapters.static', filename='chapter.css') }}">
<title>
    Читать бесплатно {{ chapter.title.name_russian }}
    том {{ chapter.tome }}
    глава {{ '{0:g}'.format(chapter.chapter) }}
</title>
{% endblock %}
{% block content %}
<div class="chapter" data-id="{{ chapter.id }}">
    {% for page in pages %}
            <div class="page">
                <img class="page__image" src={{ page }}>
            </div>
    {% endfor %}
</div>
{% endblock %}
{% block footer %}
    {% assets filters="jsmin", output="min/chapters/chapters_manhwa/bundle.js", "chapters/chapter_manhwa/scroll_loading.js",
            "chapters/chapter_manhwa/scroll_loading.js", "chapters/chapter_manhwa/progress.js"%}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}