{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='header/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='base/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('chapters.static', filename='chapter_manhwa/style.css') }}">
<link rel="stylesheet" href="{{ url_for('chapters.static', filename='chapter.css') }}">
<title>
    Читать бесплатно {{ chapter.title.name_russian }}
    том {{ chapter.tome }}
    глава {{ '{0:g}'.format(chapter.chapter) }}
</title>
{% endblock %}
{% block content %}
{% for page in pages %}
    <div class="page">
        <img class="page__image" src={{ page }}>
    </div>
{% endfor %}
{% endblock %}
{% block footer %}
    <script src="{{ url_for("chapters.static", filename="chapter_manhwa/scroll_loading.js") }}"></script>
{% endblock %}
{% block json_data %}
    {"title": {{ title_json | safe }},
    "chapter": {{ chapter_json | safe }},
    "pages": {{ pages_json | safe }},
    "chapters_list": {{ chapters_list_json | safe }}}
{% endblock %}