{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css" integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{{ url_for('static', filename='modules/modal/modal.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='edit_profile/style.css') }}">
{% endblock %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data" autocomplete="off">
    {{ form.hidden_tag() }}
    {% if has_user_photo %}
        <img class="user-photo" src="{{ url_for('static', filename='media/avatars/{}.png'.format(user.get_id())) }}">
    {% else %}
        <img class="user-photo" src="{{ url_for('static', filename='media/avatars/default.png') }}">
    {% endif %}
    <label class="input-file">
        {{ form.file(hidden=True) }}
	   	<span class="input-file__text">Изменить фото</span>
 	</label>
    <h2 class="common-info">Общая информация</h2>
    <div class="input-block">
        {{ form.login(placeholder="Логин", value=user_data["login"]) }}
    </div>
    <div class="input-block">
        {{ form.email(placeholder="E-mail", value=user_data["email"]) }}
    </div>
    <h2 class="change-password">Изменение пароля</h2>
    <div class="input-block">
        {{ form.old_password(placeholder="Старый пароль") }}
    </div>
    <div class="input-block">
        {{ form.new_password(placeholder="Новый пароль") }}
    </div>
    <div class="input-block">
        {{ form.new_password_repeat(placeholder="Повтор пароля") }}
    </div>
    {{ form.submit(value="Сохранить", class_="send-button") }}
</form>
{% endblock %}
{% block footer %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.js" integrity="sha512-Zt7blzhYHCLHjU0c+e4ldn5kGAbwLKTSOTERgqSNyTB50wWSI21z0q6bn/dEIuqf6HiFzKJ6cfj2osRhklb4Og==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='modules/modal/modal.js') }}"></script>
<script src="{{ url_for('static', filename='edit_profile/show_loaded_photo.js') }}"></script>
<script src="{{ url_for('static', filename='edit_profile/cropp_user_photo.js') }}"></script>
{% endblock %}