{% extends 'base.html' %}
{% block header %}
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='manga-card/style.css') }}">
<title>Manga Page</title>
{% endblock %}
{% block content %}
<div class="content">
    <div class="content__inner">
        <div class="content__left">
            <img class="title__poster" src="{{ url_for('static', filename=title.poster_url) }}">
            <div class="title__info">
                Тип: {{ title.type }}<br>
                Год: {{ title.year }}<br>
                Статус: {{ title.status}}<br>
                Автор: {{ title.author.replace('/', ' ') }}<br>
                Издательство: {{ title.publisher.replace('/', ' ') }}<br>
                Переводчик: {{ title.translator.replace('/', ' ') }}<br>
            </div>
            <div class="similar__titles">
                <span class="similar__title">Похожее</span>
                <div class="similar__manga btn">
                    <img class="similar__poster" src="{{ url_for('static', filename='manga-card/images/similar1.jpg') }}">
                    <p class="similar__text">
                    Я - дитя этого дома<br>
                    2018<br>
                    Манхва
                    </p>
                </div>
                <div class="similar__manga btn">
                    <img class="similar__poster" src="{{ url_for('static', filename='manga-card/images/similar2.jpg') }}">
                    <p class="similar__text">
                        Я стала женой принца-монстра<br>
                        2021<br>
                        Манхва
                    </p>
                </div>
                <div class="similar__manga btn">
                    <img class="similar__poster" src="{{ url_for('static', filename='manga-card/images/similar3.jpg') }}">
                    <p class="similar__text">
                        На самом деле я была настоящей<br>
                        2020<br>
                        Манхва
                    </p>
                </div>
            </div>
        </div>
        <div class="content__right">
            <div class="manga__about">
                <div class="manga__title">
                    <div class="manga__name">
                        <span class="name__russian">
                            {{ title.name_russian}}
                        </span>
                        <span class="name__transation">
                            {{ title.name_translation }}
                        </span>
                    </div>
                    <div class="read__button btn">
                        Читать
                    </div>
                </div>
                <div class="title__stats">
                    <div class="stats btn">
                        <img class="rating__image" src="{{ url_for('static', filename='manga-card/images/rating.svg') }}">
                        <span class="stats__text">{{ title.rating }}</span>
                    </div>
                    <div class="stats btn">
                        <img class="rating__image" src="{{ url_for('static', filename='manga-card/images/views.svg') }}">
                        <span class="stats__text">{{ title.views }}</span>
                    </div>
                    <div class="stats btn">
                        <img class="rating__image" src="{{ url_for('static', filename='manga-card/images/featured.svg') }}">
                        <span class="stats__text"> {{ title.saved }}</span>
                    </div>
                </div>
                <p class="title__description">
                    {{ title.description }}
                </p>
                <div class="tags">
                    {% for tag in title.genres.split('/') %}
                    <div class="tag">{{ tag }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="sections">
                <div id="chapters" class="section btn"><span class="section__text">Главы</span></div>
                <div id="comments"class="section btn"><span class="section__text">Комменарии</span></div>
            </div>
            <div class="chapters">
                <div class="chapters__title">
                    <span class="chapters__text">Список глав</span>
                    <img class="btn" src="{{ url_for('static', filename='manga-card/images/filter.svg') }}">
                </div>
                <div class="chapter btn">
                    Том 1 Глава 1
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='manga-card/script.js') }}"></script>
{% endblock %}