{% extends "base_login.html" %}
{% block header_scripts %}
<script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
{% endblock %}
{% block title %}
Авторизация
{% endblock %}
{% block form %}
{{ form.hidden_tag() }}
<h1>Авторизация</h1>
<p> через соцсети </p>
<div class="oauth">
    <div id="yandex_id"></div>
</div>
<p> или </p>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
        <div class="flash_error flash_error_header">{{message}}</div>
    {% endif %}
{% endfor %}
<div class="input">
    <div class="input-box">
        {{ form.login(placeholder="Логин") }}
        <img class="input-box__images" src="{{ url_for('auth.static', filename='images/user.svg') }}">
    </div>
    {% for error in form.login.errors %}
        <div class="flash_error">{{error}}</div>
    {% endfor %}
</div>
<div class="input">
    <div class="input-box">
        {{ form.password(placeholder="Пароль") }}
        <img class="input-box__images" src="{{ url_for('auth.static', filename='images/lock.svg') }}">
    </div>
    {% for error in form.password.errors %}
        <div class="flash_error">{{error}}</div>
    {% endfor %}
</div>
<div class="remember-forgot">
    <label><input type="checkbox" name="remember">Запомнить меня</label>
    <a href="recovery">Забыли пароль?</a>
</div>
<button type="submit" class="btn">Войти</button>
<div class="register">
    <p>Нет учетной записи? <a href="{{url_for('.auth', section='register')}}" class="register__link">Зарегистрироваться</a></p>
</div>
{% endblock %}
{% block footer_scripts %}
<script>
window.onload = function() {
    window.YaAuthSuggest.init({
        client_id: '60a4f1a51d3341c8973244bde329fe8d',
        response_type: 'token',
        redirect_uri: 'https://kanwoo-manga.ru/auth/oauth/yandex'
    },
    'https://kanwoo-manga.ru', {
        view: 'button',
        parentId: 'yandex_id',
        buttonView: 'icon',
        buttonTheme: 'light',
        buttonSize: 'm',
        buttonBorderRadius: 8
    }
    )
    .then(function(result) {
        return result.handler()
    })
    .then(function(data) {
        fetch("/auth/oauth/yandex", {
            headers: {
                "Content-Type": "application/json"
            },
            method: "POST",
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === "ok")
                    window.location.href = "https://kanwoo-manga.ru";
                else
                    window.location.href = "https://kanwoo-manga.ru/auth";
            })
    })
    .catch(function(error) {
        console.log('Что-то пошло не так: ', error);
    });
};
</script>
{% endblock %}