{% extends "base_login.html" %}
{% block form %}
{{ form.hidden_tag() }}
<h1>Авторизация</h1>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
        <div class="flash_error">{{message}}</div>
    {% endif %}
{% endfor %}
{% for error in form.login.errors %}
    <div class="flash_error">{{error}}</div>
{% endfor %}
<div class="input-box">
    {{ form.login(placeholder="Логин") }}
    <img class="input-box__images" src="{{ url_for('auth.static', filename='images/user.svg') }}">
</div>
<div class="input-box">
    {{ form.password(placeholder="Пароль") }}
    <img class="input-box__images" src="{{ url_for('auth.static', filename='images/lock.svg') }}">
</div>
<div class="remember-forgot">
    <label><input type="checkbox" name="remember">Запомнить меня</label>
    <a href="recovery">Забыли пароль?</a>
</div>
<button type="submit" class="btn">Войти</button>
<div class="register">
    <p>Нет учетной записи? <a href="{{url_for('.auth', section='register')}}" class="register__link">Зарегистрироваться</a></p>
</div>
{% endblock %}