{% extends "base_login.html" %}
{% block title %}
Сброс пароля
{% endblock %}
{% block form %}
    {{ password_form.csrf_token() }}
    <h1>Смена пароля</h1>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "error" %}
            <div class="flash_error">{{message}}</div>
        {% endif %}
    {% endfor %}
    <div class="input-box">
        {{ password_form.password(placeholder="Пароль") }}
        <img class="input-box__images" src="{{ url_for('auth.static', filename='images/lock.svg') }}">
    </div>
    <div class="input-box">
        {{ password_form.repeat_password(placeholder="Повторение пароля") }}
        <img class="input-box__images" src="{{ url_for('auth.static', filename='images/lock.svg') }}">
    </div>
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {% if category == "info" %}
            <div class="flash_information">{{message}}</div>
        {% endif %}
    {% endfor %}
    {{ password_form.submit(class="btn") }}
{% endblock %}