{% extends "base_login.html" %}
{% block form %}
{{ form.hidden_tag() }}
<h1>Регистрация</h1>
{% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == "error" %}
        <div class="flash_error">{{message}}</div>
    {% endif %}
{% endfor %}
{% for error in form.login.errors %}
    <div class="flash_error">{{error}}</div>
{% endfor %}
{% for error in form.email.errors %}
    <div class="flash_error">{{error}}</div>
{% endfor %}
{% for error in form.password.errors %}
    <div class="flash_error">{{error}}</div>
{% endfor %}
<div class="input-box">
    {{ form.login(placeholder="Логин") }}
    <img class="input-box__images" src="{{ url_for('auth.static', filename='images/user.svg') }}">
</div>
<div class="input-box">
    {{ form.email(placeholder="Почта") }}
    <img class="input-box__images" src="{{ url_for('auth.static', filename='images/email.svg') }}">
</div>
<div class="input-box">
    {{ form.password(placeholder="Пароль") }}
    <img class="input-box__images" src="{{ url_for('auth.static', filename='images/lock.svg') }}">
</div>
<button type="submit" class="btn">Зарегистрироваться</button>
<div class="register">
    <p>Нет учетной записи? <a href="{{url_for('.auth', section='login')}}" class="switch-link login__link">Войти</a></p>
</div>
{% endblock %}