<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search/search.css')  }}">
    <link type="image/png" sizes="96x96" rel="icon" href="{{ url_for('static', filename="base/images/icon-96.png") }}">
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(98663345, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/98663345" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% block header %}
    {% endblock %}
</head>
<body>
    {% include "search.html" %}
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="content__inner">
            <div class="main__inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    <script type="application/json">
        {% block json_data %}
        {% endblock %}
    </script>
    {% block footer %}
    {% endblock %}
    <script src="{{ url_for('static', filename='header/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='base/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='search/search.js') }}"></script>
    <script src="{{ url_for('static', filename='header/show-search.js') }}"></script>
</body>
</html>