<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='search/search.css')  }}">
    <link type="image/png" sizes="96x96" rel="icon" href="{{ url_for('static', filename="base/images/icon-96.png") }}">
    {% block header %}
    {% endblock %}
</head>
<body>
    {% include "search.html" %}
    <header>
        {% include "header.html" %}
    </header>
    <main>
        <div class="content__inner">
            <div class="main__inner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    <footer>
        {% include "footer.html" %}
    <script type="application/json">
        {% block json_data %}
        {% endblock %}
    </script>
    {% block footer %}
    {% endblock %}
    <script src="{{ url_for('static', filename='header/adaptive.js') }}"></script>
    <script src="{{ url_for('static', filename='base/dropdown.js') }}"></script>
    <script src="{{ url_for('static', filename='search/search.js') }}"></script>
    <script src="{{ url_for('static', filename='header/show-search.js') }}"></script>
</body>
</html>