<div class="content__inner">
    <div class="footer__inner">
        <div class="footer__section">
            <div class="footer__sub-section">
                <span class="footer__h1 site-name">KANWOO</span>
                <span class="footer__text feedback">Обратная связь</span>
            </div>
            <div class="footer__sub-section">
                <span class="footer__h2 email-label">Почта для связи</span>
                <span class="footer__text email">contact@kanwoo.ru</span>
            </div>
        </div>
        <div class="footer__section">
            <span class="footer__h2 footer-section__header">Полезные статьи</span>
            <div class="footer-section__main">
                <span class="footer__text footer-section__item">Как создать мангу</span>
                <span class="footer__text footer-section__item">Как создать команду</span>
                <span class="footer__text footer-section__item">Как добавить главу</span>
            </div>
        </div>
        <div class="footer__section">
            <span class="footer__h2 footer-section__header">Инфо</span>
            <div class="footer-section__main">
                <span class="footer__text footer-section__item">Пользовательское соглашение</span>
                <span class="footer__text footer-section__item">Для правообладателей</span>
            </div>
        </div>
    </div>
</div>